// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellowBorder: #F9C11C;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$yellow :#FBE192;
//NEW COLORS
$gray: #dddddd;
$lightGray: #e3e9ec;
$mediumGray :#b7c6cf;
$darkGray: #4c5356;
$darkBlue: #182949;
$blueWriting: #182949;
/*Gris clair (fond) : #e3e9ec
Gris moyen :  #b7c6cf
Gris foncé : #4c5356
Jaune : #fdcc47
Bleu foncé (pour texte principalement) : #182949
*/

// Tabs
$tab-bg: $body-bg;
$tab-notify-bg: $orange;