.card-admin{
  border: 1px solid #F9C11C;
  background-color: #FBE192;
  padding: 12px;
  width: 20rem;
  overflow:auto;
  margin-bottom: 20px;
  border-radius: 5px 5px 5px 5px;
  input{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h2{
    text-align: center;
  }
  .current-riddle-descr, .current-riddle-code{
    font-style: italic ;
    font-weight: bold;
  }
  .current-riddle-disable-cb{
    opacity: 0.4;
  }
  .current-riddle-post-msg{
    margin-top: 2px;
    margin-bottom: 2px;
    padding : 5px;
    border : 1px solid #F9C11C;
    background-color: white;
    opacity: 0.7;
    text-align : left;
  }
}
#add-GM,#mod-riddles, #reinit-base{
  .card-admin{
    margin: auto auto 20px;
  }
}
#mod-riddles{
  display : flex;
  flex-wrap: wrap;
  .card-admin{
    margin: 10px auto;
  }

}
