// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// jQuery-ui
@import '~jquery-ui/themes/base/all.css';
// Open iconic
@import '~open-iconic/font/css/open-iconic-bootstrap.min.css';

// Messages
@import 'messenger';

//Custom
@import "tabs";
@import "header";
@import "gm_team";
@import "player_riddle";
@import "player_login";
@import "admin_screen";
@import "mod_parcour";
// Global CSS
body{
  font-size: 1rem;
  background-color: #e3e9ec;
  font-family: Roboto !important;

}