#parcour-mod-div{
  display : flex;
  flex-direction: row;
  justify-content: space-around;


  .riddle-list {
    border: 0px;
    border-radius: 5px 5px 0px 0px;
    margin-left: 10px;
  }
  .riddle-list li{
    padding : 1rem;
    list-style: none;
    border : 0px;
    text-align: center;
  }

  .riddle-list li:first-child{
    background-color: #36c;
    color:white;
    border:none;
    border-radius: 5px 5px 0px 0px;
  }

  .mod-line-li{
    max-width: 50rem;
    display : flex;
    flex-direction: row;
    padding-bottom : 10px;
    border : 2px solid white;
    background-color: white;
    .lvl-nbr-header{
      border-radius: 5px 0px 0px 5px;
      padding : 20px;
      text-align: center;
      background-color: $gray;
      border : 2px solid white;
    }
    .mod-line-content {
      display : flex;
      flex-wrap: wrap;
      padding: 1px 1px 10px;
      background-color: $gray;
      border : 2px solid white;
      border-radius: 0px 5px 5px 0px;
      .card-admin {
        margin: 10px 10px auto 10px;
      }
      .btn-add-riddle{
        width : 4rem;
        height: 4rem;
        border: 1px solid #F9C11C;
        background-color: #FBE192;
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        margin : 10px;
      }
    }
  }


  #header-mod-parcours{
    background: #ea0000;
    color:white;
    border:3px solid #36c;
    border-radius: 5px 5px 0px 0px;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}


.mod-parcour-container{
  position: relative;
  #add-mod-riddles-node{
    position : absolute;
    top : 10px;
    left : 0;
    right : 0;
    margin: 0 auto;

    #header-add-mod-riddles{
      background-color: #36c;
      color:white;
      border:none;
      border-radius: 5px 5px 0px 0px;
      margin-left: -12px;
      margin-top: -12px;
      margin-right: -12px;
      text-align: center;
      padding : 12px;
    }

    .btn-riddles{
      display : flex;
      flex-direction: row;
      button{
        margin : auto auto;
      }
    }
  }
}
#drag-over-shadow{
  border: 1px solid #F9C11C;
  background-color: $green;
  border-radius: 5px 5px 5px 5px;
  width : 3rem;
  margin: 10px 10px 0px 10px;
}

#mod-bdd{
    text-align: center;
}


