@keyframes flicker {
  from {
    background-color: $lightGray !important;
  }

  to {
    background-color: $mediumGray;
  }
}

.tabs {
  background-color: white !important;
  .nav a {
    background: $lightGray ;
    color: $darkGray ;
    border:solid 2px $darkGray !important;
  }


  .nav {
    margin-bottom: 2rem;

  }


  .nav-link.notifying {
    animation: flicker alternate infinite 1s;
  }
/*  .nav a {
    background: $lightGray !important;
    color: $darkGray !important;
    border:solid 2px $darkGray !important;
  }
  .nav a:hover {
    background: $mediumGray !important;
    color: $darkGray !important;
    border:solid 2px $darkGray !important;
    }
    */


  }


#tablist > ul {
  position: sticky;
  top: 60px;
  background-color: white;
  z-index: 99;
  padding-top: 10px;
  transform: translateY(-10px);
}

#tablist > a{
  a {
    background: $mediumGray ;
    color: $darkGray ;
    border:solid 2px $darkGray !important;
  }
}